includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src/regis
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - vendor
    inferPrivatePropertyTypeFromConstructor: true